@import "../../scss/abstracts/index";

.form__container {
  display: flex;
  color: $text;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  input {
    background: $background;
    border: 1px solid $border;
    width: 100%;
    height: 56px;
  }

  .title {
    font-weight: $bold;
    font-size: $title-sm;
    color: $text;
  }
  .element {
    font-size: $s-small;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
    .required {
      color: $light;
      font-size: $required;
    }
  }
}
