@import "../../scss/abstracts/index";

.photo__container {
  width: 50%;
  display: none;
  .grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    img {
      width: 100%;
      margin: 70px 0;
      grid-column: 1 / 8;
      align-self: center;
      grid-row: 1 / 2;
    }
    .shadow {
      background-color: $grey;

      grid-row: 1 / 2;
      grid-column: 2/-1;
    }
  }
  @include breakpoint(laptop) {
    display: block;
  }
}
