.main__container {
  width: 49.5%;
  // border: 1px solid red; /* BORDER TEST*/

  .welcome {
    //width: 100%;
    padding: 0 20px;
    h1 {
      margin: 100px 0px;
      font-family: "Antonio";
      font-weight: 700;
      font-size: 64px;
      line-height: 72px;
      letter-spacing: -0.02em;
      p {
        line-height: 0px;
      }
    }
    .card {
      position: relative;
      padding: 60px;
      left: -60px;
      background-color: white;
      //border: 1px solid green; /* BORDER TEST*/
    }

    // border: 1px solid red; /* BORDER TEST*/
  }
  .apple {
    // border: 1px solid red; /* BORDER TEST*/
    padding: 0 0 0 20px;
    font-weight: 700;
    font-size: 32px;
    line-height: 28px;
    //width: 100%;
  }
}
