@import "../../scss/abstracts/index";

.product__container {
  margin: 5px;
  font-size: $medium;

  .img {
    margin-top: 50px;
    width: 16vw;
    height: 16vw;
    max-width: 280px;
    max-height: 280px;
    min-width: 150px;
    min-height: 150px;
    object-fit: cover;
  }
  .price {
    margin: 0;
    font-weight: $bold;
  }
  .name {
    margin: 5px 0;
    font-weight: $normal;
  }
}
