.product__container {
  // border: 1px solid red; /* BORDER TEST*/
  margin: 5px;
  .img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  .price {
    // border: 1px solid green; /* BORDER TEST*/
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
  }
  .name {
    // border: 1px solid pink; /* BORDER TEST*/
    margin: 5px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }
}
