$background: #fff;
$grey: #e1e5ea;
$darker: #e1e5ea;
$font: #c4c4c4;
$text: #000;
$border: #888888;
$light: #a5a5a5;

$main: "Antonio";
$second: "Open Sans", sans-serif;

$title: 4rem;
$title-sm: 2rem;
$medium: 1.3rem;
$small: 1.1rem;
$s-small: 1rem;
$required: 0.9rem;

$bold: 700;
$normal: 400;

@mixin breakpoint($point) {
  @if $point == mobile {
    @media screen and(min-width: 320px) {
      @content;
    }
  } @else if $point == laptop {
    @media screen and(min-width: 1000px) {
      @content;
    }
  } @else if $point == desktop {
    @media screen and(min-width: 1224px) {
      @content;
    }
  }
}
